<h1>Ajax#index</h1>
<p>Find me in app/views/ajax/index.html.erb</p>
<h2>Nuevo Usuario</h2>
<input type="text" id="nombre">
<input type="text" id="apellido">
<button id="submit">Guardar</button>
<hr>
<table border="1" id="listaUsuarios">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
